@(message: String)

@main("Rodrigo Peleias") {

    <div class="starter-template" >
		<h1>@message</h1>
	</div>

	<div class="panel ">			
		
		<table class="table">
			<tr>
				<td>
					<div >			
						<div class="panel-body">
						    <img class="img-responsive margin-center" src="@routes.Assets.at("images/scjaLogo.jpg")" alt="SCJA" width="300" height="208">
					  	</div>
					 </div>		
				</td>
				<td>
					<div class="panel-body" >						    
					   <img class="img-responsive margin-center" src="@routes.Assets.at("images/scjpLogo.png")" alt="SCJP" width="300" height="208">	    
				  	</div>			  	

				</td>
			</tr>

			<tr>
				<td>
				<div >			
					<div class="panel-body">
					    <img class="img-responsive margin-center" src="@routes.Assets.at("images/scwcdLogo.png")" alt="SCWCD" width="300" height="208" >
				  	</div>
				 </div>		
				</td>
				<td>
					<div class="panel-body">						    
					   <img class="img-responsive margin-center" src="@routes.Assets.at("images/scbcdLogo.jpg")" alt="SCBCD" width="300" height="218">	    
				  	</div>			  	

				</td>
			</tr>

	  	</table>		


	 </div>	  

}
