@(message: String)

@main("Rodrigo Peleias") {

    <div class="starter-template" >
		<h1>@message</h1>
	</div>

	<div class="panel panel-default">			
		<div class="panel-heading">
			<h4>@Messages("experience.guiato")</h4>  
			<h5>@Messages("experience.guiato.jobPosition")</h5>  
		</div>

		<table class="table">
			<td>
			<div >			
				<div class="panel-body">
				    <img style="float:left;" src="@routes.Assets.at("images/logoGuiato.jpg")" alt="guiato" height="100" width="100">
			  	</div>
			 </div>		
			</td>
			<td>
				<div class="panel-body">						    
				    <h4>@Messages("experience.guiato.period")</h4>
				    <p>@Messages("experience.guiato.description")</p>			    
			  	</div>			  	

			</td>

	  	</table>		
	 </div>	  

	 <div class="panel panel-default">			
		<div class="panel-heading">
			<h4>@Messages("experience.goPoints")</h4>  
			<h5>@Messages("experience.goPoints.jobPosition")</h5>  
		</div>

		<table class="table">
			<td>
			<div >			
				<div class="panel-body">
				    <img style="float:left;" src="@routes.Assets.at("images/logoGoPoints.png")" alt="guiato" height="100" width="100">
			  	</div>
			 </div>		
			</td>
			<td>
				<div class="panel-body">						    
				    <h4>@Messages("experience.goPoints.period")</h4>
				    <p>@Messages("experience.goPoints.description")</p>			    
			  	</div>			  	

			</td>

	  	</table>		
	 </div>	  

	 <div class="panel panel-default">			
		<div class="panel-heading">
			<h4>@Messages("experience.sun")</h4>  
			<h5>@Messages("experience.sun.jobPosition")</h5>  
		</div>

		<table class="table">
			<td>
			<div >			
				<div class="panel-body">
				    <img style="float:left;" src="@routes.Assets.at("images/logoSun.png")" alt="guiato" height="100" width="100">
			  	</div>
			 </div>		
			</td>
			<td>
				<div class="panel-body">						    
				    <h4>@Messages("experience.sun.period")</h4>
				    <p>@Messages("experience.sun.description")</p>
			  	</div>			  	

			</td>

	  	</table>		
	 </div>	  

	 <div class="panel panel-default">			
		<div class="panel-heading">
			<h4>@Messages("experience.prefeitura")</h4>  
			<h5>@Messages("experience.prefeitura.jobPosition")</h5> 
		</div>

		<table class="table">
			<td>
			<div >			
				<div class="panel-body">
				    <img style="float:left;" src="@routes.Assets.at("images/logoPrefeitura.png")" alt="guiato" height="100" width="100">
			  	</div>
			 </div>		
			</td>
			<td>
				<div class="panel-body">						    
				    <h4>@Messages("experience.prefeitura.period")</h4>
				    <p>@Messages("experience.prefeitura.description")</p>			    
			  	</div>			  	

			</td>

	  	</table>		
	 </div>	  
}
